@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --fs-small: 14px;
  --fs-medium: 18px;
  --fs-large: 22px;
}
body {
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide {
  display: none;
}
.content {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255 255 255 / 70%);
}
/* || Nav */
nav {
  margin-bottom: 80px;
}
button {
  color: #000000;
}
.padded-container {
  padding: 0 10px;
}
.hamburger,
.close-btn,
.back-arrow {
  width: 30px;
  cursor: pointer;
}
.hamburger:active,
.close-btn:active {
  width: 27px;
}

.brand-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.menu-item {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 1000px;
  opacity: 0;
  transition: all 0.8s ease;
  z-index: 1;
}
ul {
  list-style-type: none;
  padding: 0;
}
.menu-item li:not(:nth-child(1)) {
  text-align: center;
}
li {
  padding-bottom: 10px;
  font-size: var(--fs-medium);
}

.align-right {
  text-align: right;
}
.menu-item li:hover {
  font-size: 1.2rem;
}
.container-menu {
  opacity: 1;
  padding: 0 10px;
  transition: all 0.7s ease;
  text-align: left;
  margin-top: 50px;
}
.container-menu h3 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
}
.container-menu li,
.menu-item li {
  margin-top: 30px;
}

.container-menu a,
.menu-item a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 40px;
  border-radius: 15px;
}

.container-menu a {
  font-size: var(--fs-large);
}
.container-menu a:hover,
.container-menu a:active {
  font-size: 20px;
}
.show-menu {
  opacity: 1;
  left: 0px;
}
.nav-link-container li {
  cursor: pointer;
}

.intro,
.container-menu {
  position: relative;
}
.intro h3 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.intro p {
  font-family: "Merriweather", serif;
  font-size: 25px;
}
.animate {
  animation-name: animate;
  animation-duration: 2s;
}
.animate-left {
  animation-name: animate-left;
  animation-duration: 1s;
}
.responsive {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.box {
  text-align: center;
  background-color: rgba(241, 243, 243, 0.7);
  width: 320px;
  height: auto;
  flex: auto;
  padding: 30px 0 20px;
  margin: 20px 10px;
}
.dish-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.3;
  transition: all 1.5s ease;
}
.video-container {
  width: 100vw;
  height: 100vh;
}
iframe,
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  /* opacity: ; */
}
button {
  transition: all 0.3s ease;
}
.btn-info {
  padding: 10px 40px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  /* margin-top: 10px; */
}
.btn-order {
  padding: 7px 30px;
  border-radius: 30px;
}

button:hover {
  transform: scale(0.9);
}
.mt-md {
  margin-top: 30px;
}
.mt-sm {
  margin-top: 10px;
}
.background {
  background: #fff
    url("https://img.buzzfeed.com/buzzfeed-static/static/2014-09/23/12/enhanced/webdr08/longform-original-4996-1411490556-10.jpg?downsize=600:*&output-format=auto&output-quality=auto")
    center center/cover no-repeat;
}

.box-description {
  padding: 10px 10px 20px;
  max-width: 810px;
  text-align: center;
  opacity: 0.3;
  margin: 0 auto;
  background-color: rgba(255, 251, 251, 0.7);
  transition: all 1.5s ease;
}
.box-img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.description-heading {
  font-size: clamp(25px, 4vw, 40px);
}
.description-para {
  font-size: max(20px, 3vw);
  text-align: left;
  padding: 0 15px;
}
.opaque {
  opacity: 1;
}

@keyframes animate {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0px;
  }
}
@keyframes animate-left {
  0% {
    left: 100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 800px) {
  .video-container {
    display: none;
  }
}
