@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --fs-small: 14px;
  --fs-medium: 18px;
  --fs-large: 22px;
}
body {
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide {
  display: none;
}
.content {
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255 255 255 / 70%);
}
/* || Nav */
.padded-container {
  padding: 0 10px;
}
.hamburger,
.close-btn {
  width: 30px;
  cursor: pointer;
}
.hamburger:active,
.close-btn:active {
  width: 27px;
}

.brand-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.menu-item {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 1000px;
  opacity: 0;
  transition: all 0.8s ease;
  z-index: 1;
}
ul {
  list-style-type: none;
  padding: 0;
}
.menu-item li:not(:nth-child(1)) {
  text-align: center;
}
li {
  padding-bottom: 10px;
  font-size: var(--fs-medium);
}

.align-right {
  text-align: right;
}
.menu-item li:hover {
  font-size: 1.2rem;
}
.container-menu {
  opacity: 1;
  padding: 0 10px;
  transition: all 0.7s ease;
  text-align: left;
  margin-top: 50px;
}
.container-menu h3 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
}
.container-menu li,
.menu-item li {
  margin-top: 30px;
}

.container-menu a,
.menu-item a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 40px;
  border-radius: 15px;
}

.container-menu a {
  font-size: var(--fs-large);
}
.container-menu a:hover,
.container-menu a:active {
  font-size: 20px;
}
.show-menu {
  opacity: 1;
  left: 0px;
}
.nav-link-container li {
  cursor: pointer;
}

.intro {
  position: relative;
  margin-top: 80px;
}
.intro h3 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.intro p {
  font-family: "Merriweather", serif;
  font-size: 25px;
}
.animate {
  animation-name: animate;
  animation-duration: 2s;
}
.responsive {
  width: 200px;
  height: auto;
}
.box {
  width: 320px;
  height: auto;
  text-align: center;
  flex: auto;
  border: 1px solid black;
  padding: 30px 0 10px;
  margin: 20px 10px;
  /* overflow: hidden; */
}
.dish-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.dish-price {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}
.video-container {
  width: 100vw;
  height: 100vh;
}
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  /* opacity: ; */
}
.btn-info {
  padding: 10px 40px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  /* margin-top: 10px; */
}
.mt-md {
  margin-top: 30px;
}
.mt-sm {
  margin-top: 10px;
}

@keyframes animate {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0px;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}
